    <!-- Download Section -->
    <section id="competition" class="content-section text-center">
        <div class="competition-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>{% t competition.title %}</h2>
                    <p>{% t competition.p1 %}</p>
                    <p>{% t competition.p2 %}</p>

                    <h3>{% t competition.st1 %}</h3>
                    <p>{% t competition.sp1 %}</p>

                    <h3>{% t competition.st2 %}</h3>
                    <p>{% t competition.sp2 %}</p>

                    <h3>{% t competition.timetable %}</h3>
                    <table class="table table_schedule">
                      <tbody>
                        <tr class="row_date"><th colspan="2">{% t competition.thursday14 %}</th></tr>
                        <tr class="row_time"><th>10:00 - 15:30</th><td>{% t competition.doubles %}</td></tr>
                        <tr class="row_time"><th>19:00</th><td>{% t competition.reunion %}</td></tr>
                        <tr class="row_time_last"><th>20:00</th><td>{% t competition.dinner %}</td></tr>
                        <tr class="row_date"><th colspan="2">{% t competition.friday15 %}</th></tr>
                        <tr class="row_time"><th>8:30 - 17:00</th><td>{% t competition.rounds %}</td></tr>
                        <tr class="row_time_last"><th>17:30</th><td>{% t competition.distance %}</td></tr>
                        <tr class="row_date"><th colspan="2">{% t competition.saturday16 %}</th></tr>
                        <tr class="row_time"><th>8:30 - 17:00</th><td>{% t competition.rounds %}</td></tr>
                        <tr class="row_time_last"><th>17:30</th><td>{% t competition.putters %}</td></tr>
                        <tr class="row_date"><th colspan="2">{% t competition.sunday17 %}</th></tr>
                        <tr class="row_time"><th>8:30 - 17:00</th><td>{% t competition.rounds %}</td></tr>
                        <tr class="row_time_last"><th>17:30</th><td>{% t competition.awards %}</td></tr>
                      </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
