    <!-- Contact Section -->
    <section id="course" class="container content-section text-center">
        <div class="row">
            <div class="col-12">
                <h2>{% t course.title %}</h2>

                <div class="caddybook">
                  <div class="slider">
                    <img src="/img/caddybook/caddybook--0.jpg" alt="Cover" />
                    <img src="/img/caddybook/caddybook--1.jpg" alt="Welcome" />
                    <img src="/img/caddybook/caddybook--2.jpg" alt="General Map" />
                    <img src="/img/caddybook/caddybook--3.jpg" alt="Holes Map Legend" />
                    {% for i in (4..21) %}
                      <img src="/img/caddybook/caddybook--{{ i }}.jpg" alt="Hole" />
                    {% endfor %}
                    <img src="/img/caddybook/caddybook--22.jpg" alt="Additional Rules" />
                  </div>

                  <div class="leftbutton">
                    <i class="fa fa-arrow-left fa-fw"></i>
                  </div>
                  <div class="rightbutton">
                    <i class="fa fa-arrow-right fa-fw"></i>
                  </div>
                </div>

                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="/files/caddybook.pdf" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">{% t course.download %}</span></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/playlist?list=PLJtnbceLUdvGzJrB9FUc6oDWBY9NnuZYY" class="btn btn-red btn-lg"><i class="fa fa-youtube-play fa-fw"></i> <span class="network-name">{% t course.videos %}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
