    <!-- Intro Header -->
    <div class="intro-outer">
        <header class="intro">
            <video class="video-bg" loop muted preload playsinline autoPlay>
                <source class="video-bg-mp4" src="/video/intro-bg.mp4" type='video/mp4' />
                <source class="video-bg-webm" src="/video/intro-bg.webm" type='video/webm' />
            </video>
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">
                                <img src="/img/logo_big.svg" alt="{% t header.title %}" />
                            </h1>
                            <p class="intro-text">{% t header.introtext %}<br>
                            <!--<a class="copaespana-logo" href="https://www.aediscgolf.es/torneos-aedg/copa-de-espana-de-disc-golf/" target="_blank"><img src="/img/copa_espana_logo.png"></a><br>-->
                            <a href="#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
