  <!-- News Section -->
    <section id="sponsorships" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>{% t sponsorships.title %}</h2>
                <div class="row">
                  <div class="sponsorships-slider-outer">
                    <div class="sponsorships-slider">
                      <a href="https://www.hole19.fr/" target="_blank" rel="nofollow"><img src="/img/sponsors/hole19.png" alt="Hole19.fr" /></a>
                      <a href="https://euskadiscgolf.com/" target="_blank" rel="nofollow"><img src="/img/sponsors/euskadiscgolf.png" alt="Euskadisc Golf" /></a>
                      <a href="https://www.zonadiscgolf.com/" target="_blank" rel="nofollow"><img src="/img/sponsors/zonadiscgolf.png" alt="Zona Disc Golf" /></a>
                      <a href="https://yooando.com/" target="_blank" rel="nofollow"><img src="/img/sponsors/yooando.png" alt="Yooando" /></a>
                      <a href="https://granhotellosabetos.com/" target="_blank" rel="nofollow"><img src="/img/sponsors/granhotellosabetos.png" alt="Gran Hotel Los Abetos" /></a>
                      <a href="https://www.montedogozo.com/" target="_blank" rel="nofollow"><img src="/img/sponsors/montedogozo.png" alt="Albergue Monte do Gozo" /></a>
                      <a href="http://santiagodecompostela.gal/" target="_blank" rel="nofollow"><img src="/img/sponsors/concello.png" alt="Concello de Santiago de Compostela" /></a>
                      <a href="https://www.aediscgolf.es/torneos-aedg/copa-de-espana-de-disc-golf/" target="_blank" rel="nofollow"><img src="/img/sponsors/copa_aedg.png" alt="Copa de España de Disc Golf" /></a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
